# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.tenable-audit'
'name': 'Tenable Audit'
'type': 'tree-sitter'
'parser': 'tree-sitter-tenable-audit'
'fileTypes': [
  '.audit'
]
scopes:
  'value_data_dword': 'type.integer'

folds: [
  {
    type: 'comment'
  }

  {
    type: 'item_block'
  }
]

comments:
  start: '# '
